<section id="home" class="hero"> 
    <div class="intro"> 
        <div class="headings"> 
            <h3 class="greet-heading">Hello, I'm</h3> 
            <h1 class="my-heading">Abejide Oluwaseyi</h1> 
            <h4 class="sub-heading"> 
                A Software Engineer with 1 years of Experience. 
            </h4> 
        </div> 
        <div class="intro-buttons"> 
            
            <div class="stack">
                <span>React |</span>
                <span>Next js |</span>
                <span>Angular js |</span>
                <span>React Native |</span>
                <span>postgresSQL |</span>
                <span>Sanity.io |</span>
                
            </div> 
            
            
        </div> 
    </div> 
    <div class="imagess">
        <img src="/assets/seyiabe.jpg" alt="me">

      
    </div>
    
    
</section> 



   

