.hero { 
    
   background-color: rgba(0, 0, 255, 0.775);
    width: 100%; 
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: space-evenly; 
    padding: 4px;
    
} 
  
.hero .intro { 
    text-align: center; 
    margin: 50px; 
} 
.my-heading {
  font-size:x-large; 
  word-spacing: 2px; 
  color: whitesmoke;
  
}
.greet-heading {
    font-size: x-large;
    color: paleturquoise;
}
.stack {
    color: paleturquoise;

}
  
.hero .intro-buttons { 
    margin: 2rem 0; 
    display: flex; 
    align-items: center; 
    justify-content: space-evenly; 
} 


.portfolio { 
    margin: 4.8rem 0; 
    padding: 0 5rem; 
} 
  

  
.portfolio { 
    margin: 4.8rem 0; 
    padding: 0 5rem; 
} 
  



img {
    width: 100%;
    border-radius: 700px;
    height: 700px;
    
    
}
@media (max-width: 701px) {
    .hero {
        background-color: rgba(0, 0, 255, 0.775);
        width: 100%; 
        height: 100vh; 
        display: flex; 
        flex-direction: column-reverse;
        align-items: center; 
        justify-content: center; 
        margin-top: 10px;
        padding: 4px;
       
    }
    img {
        width: 90%;
        
        height: 450px;
    }
        
  }
  @media (max-width: 740px) {
    .hero {
        background-color: rgba(0, 0, 255, 0.775);
        width: 100%; 
        height: 100vh; 
        display: flex; 
        padding: 3px;
        flex-direction: column-reverse;
        align-items: center; 
        justify-content: center; 
        margin-top: 10px;
        padding: 4px;
       
    }
    img {
        width: 90%;
        
        height: 350px;
    }
        
  }
  @media (max-width: 400px) {
    .hero {
        background-color: #002fffc6;
        width: 100%; 
        height: 900vh; 
        display: flex; 
        flex-direction: column-reverse;
        align-items: center; 
        justify-content: center; 
        margin-top: 20px;
        overflow-y: hidden;
        padding: 4px;
       
    }
    img {
        width: 100%;
        border-radius: 150px;
        height: 150px;
        
        
    }
  }
  @media (max-width: 600px) {
    .hero {
        background-color: rgba(0, 0, 255, 0.775);
        width: 100%; 
        height: 100vh; 
        display: flex; 
        flex-direction: column-reverse;
        align-items: center; 
        justify-content: center; 
        margin-top: 20px;
       
    }
    img {
        width: 100%;
        border-radius:200px ;
        height: 300px;
        
        
    }
  }

  